<div style="font-weight: 800; font-size: 200%; color: #191d21; background-color: #ff9900; padding: 1% 2%;">
    Profile
</div>

<div class="card" style="margin: 5% 30%; background-color: #f2f2f2; padding-top: 20px;">
    <div class="text-center">
        <img class="card-img-top" src="{{signedin.photo}}" alt="Card image cap"
            style="height: 200px; width:200px; border-radius: 50%;">
    </div>
    <div class="card-body text-center">
        <h5 class="card-title" style="font-size:large;"><span style="font-weight: 700;">Name: </span>{{signedin.name}}
        </h5>
        <p class="card-text" style="margin-top: 20px; font-weight: 500; font-size: medium;"><span
                style="font-weight: 700;">Address: </span>{{signedin.address}}
        </p>
        <p class="card-text" style="margin-top: 20px; font-weight: 500; font-size: medium;"><span
                style="font-weight: 700;">Phone No.: </span>{{signedin.phone}}</p>
        <p class="card-text" style="margin-top: 20px; font-weight: 500; font-size: medium;"><span
                style="font-weight: 700;">Email id: </span>{{signedin.mail}}</p>

    </div>

</div>
















<!-- <td style="padding: 30px;" rowspan="2">
                <img src="{{signedin.photo}}" alt="image here">
                
            </td>
            <td style="padding: 30px;">
                <h2>{{signedin.name}}</h2>
            </td>
        </tr>
        <tr>
            <td style="padding: 30px;">
                <h4>
                    {{signedin.address}}
                </h4>
            </td>
        </tr>
    </table> -->